<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Farmer's Spaces</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="icon" href="https://i.ya-webdesign.com/images/farmer-icon-png-5.png" type="image/gif" sizes="16x16">
</head>
<body>
<!-- partial:index.partial.html -->
<body data-spy="scroll" data-target="#navbar-example">


  <div class="wrapper" >

    <nav class="nav__wrapper" id="navbar-example">
      <ul class="nav">

        <li role="presentation" class="active">
          <a href="#section1">
            <span class="nav__counter">01</span>
            <h3 class="nav__title">Power To Farmers</h3>
            <p class="nav__body"><strong>This where Farmers Meet Buyers</strong>.This process of buying and selling will change the way of framers.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section2">
            <span class="nav__counter">02</span>
            <h3 class="nav__title">Ease of Buying</h3>
            <p class="nav__body">Buyers can buy the goods even before they could be produced.It will help people to choose what they want from farmers .</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section3">
            <span class="nav__counter">03</span>
            <h3 class="nav__title">Section 3 Title</h3>
            <p class="nav__body">Sed sit amet justo sed odio tempus tempus. Vestibulum sed varius mi, sit amet condimentum lacus.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section4">
            <span class="nav__counter">04</span>
            <h3 class="nav__title">Section 4 Title</h3>
            <p class="nav__body">Sed sit amet justo sed odio tempus tempus. Vestibulum sed varius mi, sit amet condimentum lacus.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section5">
            <span class="nav__counter">05</span>
            <h3 class="nav__title">Section 5 Title</h3>
            <p class="nav__body">Sed sit amet justo sed odio tempus tempus. Vestibulum sed varius mi, sit amet condimentum lacus.</p>
          </a>
        </li>

        <li role="presentation">
          <a href="#section6">
            <span class="nav__counter">06</span>
            <h3 class="nav__title">Section 6 Title</h3>
            <p class="nav__body">Sed sit amet justo sed odio tempus tempus. Vestibulum sed varius mi, sit amet condimentum lacus.</p>
          </a>
        </li>

      </ul>
    </nav>

    <section class="section section1" id="section1">
      <img style="width: 46%;" src="{{ url_for('static', filename='assets/farm.png')}}">
    </section>

    <section class="section section2" id="section2">
      <img src="http://clipart.coolclips.com/480/vectors/tf05317/CoolClips_vc066234.png">
    </section>

    <section class="section section3" id="section3">
      Section 3
    </section>

    <section class="section section4" id="section4">
      Section 4
    </section>

    <section class="section section5" id="section5">
      Section 5
    </section>

    <section class="section section6" id="section6">
      Section 6
    </section>


  </div>
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script><script  src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>
</html>
